/* Font Options */

/* Pairing1: 
font-family: 'Raleway', sans-serif;
font-family: 'PT Sans Caption', sans-serif; */

.articleHeader{
    padding: 50px;
    font-family: 'Raleway', sans-serif;


}

.mainarticleheading {
    font-weight: 900;
    text-transform: uppercase;
    color: rgb(13, 100, 195);
    display: inline-block;
    margin-bottom: 10px;

    padding-bottom: 10px;
    border-bottom: 5px solid rgb(235, 222, 176);
    border-width: 50%;
    font-size: 50px;
text-align: left;

}

.articleheader3 a{
    color: orange;
   font-family: 'PT Sans Caption', sans-serif; 
   text-decoration: none

}

.articleheader3 a :visited{
    color: orange;
   font-family: 'PT Sans Caption', sans-serif; 

}
p{
    font-family: 'PT Sans Caption', sans-serif; 
    color: grey;
    font-size: 25px;
  
}

.all {
    height: 70vh;
   
}

.par {
    margin: 30px;
    text-align: left;
    width: 70%;
    height: 70vh;
    overflow: auto
}

.bio {
    width: 10%;
    float: left;

}

.biopic {
    width: 100px;
    height: 100px;
}