.footer{
    background-color: rgb(13, 100, 195);
    position: relative;
    bottom: 0;
    width: 100%;
    height: 40px;  
    border-top: 5px solid rgb(235, 222, 176);
    animation: 1s ease-out 0s 1 slideInFromBottom;
    display: block;

}

.footertext {
    font-size: 15px;
    color: rgb(235, 222, 176);
    text-align: center;
    width: 100%;
    vertical-align: middle;
    line-height: 40px;
    min-height: 100%

}


@keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }